# Bagger config file used by the crond service.
#

# digest_command: '{{ getenv "BAGGER_CONFIG_DIGEST_COMMAND" }}'
# drupal_baseurl: '{{ getenv "BAGGER_CONFIG_DRUPAL_BASEURL" }}'
# drupal_content_types: {{ getenv "BAGGER_CONFIG_DRUPAL_CONTENT_TYPES" }}
# drupal_file_fieldnames: {{ getenv "BAGGER_CONFIG_DRUPAL_FILE_FIELDNAMES" }}
# drupal_media_auth: {{ getenv "BAGGER_CONFIG_DRUPAL_MEDIA_AUTH" }}
# drupal_media_tags: {{ getenv "BAGGER_CONFIG_DRUPAL_MEDIA_TAGS" }}
# drupal_password: '{{ getenv "BAGGER_CONFIG_DRUPAL_PASSWORD" }}'
# drupal_user: '{{ getenv "BAGGER_CONFIG_DRUPAL_USER" }}'
# email_from: '{{ getenv "BAGGER_CONFIG_EMAIL_FROM" }}'
# email_to: '{{ getenv "BAGGER_CONFIG_EMAIL_TO" }}'
# failures_log_path: '{{ getenv "BAGGER_CONFIG_FAILURES_LOG_PATH" }}'
# fedoraapi_digest_header_leader_pattern: '{{ getenv "BAGGER_CONFIG_FEDORAAPI_DIGEST_HEADER_LEADER_PATTERN" }}'
# fedoraapi_method: '{{ getenv "BAGGER_CONFIG_FEDORAAPI_METHOD" }}'
# fixity_algorithm: '{{ getenv "BAGGER_CONFIG_FIXITY_ALGORITHM" }}'
# gemini_auth_header: '{{ getenv "BAGGER_CONFIG_GEMINI_AUTH_HEADER" }}'
# gemini_endpoint: '{{ getenv "BAGGER_CONFIG_GEMINI_ENDPOINT" }}'
# jsonapi_authorization_headers: '{{ getenv "BAGGER_CONFIG_JSONAPI_AUTHORIZATION_HEADERS" }}'
# jsonapi_pager_data_file_path: '{{ getenv "BAGGER_CONFIG_JSONAPI_PAGER_DATA_FILE_PATH" }}'
# jsonapi_page_size: {{ getenv "BAGGER_CONFIG_JSONAPI_PAGE_SIZE" }}
# max_resources: {{ getenv "BAGGER_CONFIG_MAX_RESOURCES" }}
# output_csv_path: '{{ getenv "BAGGER_CONFIG_OUTPUT_CSV_PATH" }}'
# plugins.fetchdigest: '{{ getv "/config/plugins.fetchdigest" (getenv "BAGGER_CONFIG_PLUGINS_FETCHDIGEST") }}'
# plugins.fetchresourcelist: {{ getv "/config/plugins.fetchresourcelist" (getenv "BAGGER_CONFIG_PLUGINS_FETCHRESOURCELIST") }}
# plugins.persist: '{{ getv "/config/plugins.persist" (getenv "BAGGER_CONFIG_PLUGINS_PERSIST") }}'
# plugins.postcheck: {{ getv "/config/plugins.postcheck" (getenv "BAGGER_CONFIG_PLUGINS_POSTCHECK") }}
# resource_dir_paths: {{ getenv "BAGGER_CONFIG_RESOURCE_DIR_PATHS" }}
# resource_list_path: {{ getenv "BAGGER_CONFIG_RESOURCE_LIST_PATH" }}
# thin: {{ getenv "BAGGER_CONFIG_THIN" }}
# use_fedora_urls: {{ getenv "BAGGER_CONFIG_USE_FEDORA_URLS" }}
# views_pager_data_file_path: '{{ getenv "BAGGER_CONFIG_VIEWS_PAGER_DATA_FILE_PATH" }}'