# Adapted from https://github.com/mjordan/islandora_bagger/blob/1b4973023d0ace40633c79340077980b3be7c947/sample_config.yml
# Managed by Confd

####################
# General settings #
####################

# Required.
# specified in `config/services.yml`
# drupal_base_url: '${BAGGER_DRUPAL_URL}'
# specified in `config/services.yml`
# drupal_basic_auth: ['${BAGGER_DRUPAL_DEFAULT_ACCOUNT_NAME}', '${BAGGER_DRUPAL_DEFAULT_ACCOUNT_PASSWORD}']

# Register creation of this Bag with Islandora Bagger Integration. Default is false.
# register_bags_with_islandora: true
register_bags_with_islandora: {{ getenv "BAGGER_DEFAULT_PER_BAG_REGISTER_BAGS_WITH_ISLANDORA" }} 

# Required. How to name the Bag directory (or file if serialized). One of 'nid' or 'uuid'.
# bag_name: nid
bag_name: {{ getenv "BAGGER_DEFAULT_PER_BAG_NAME" }} 

# Optional. Template for the Bag name. The % is replaced by the nid or uuid (depending on
# the value of "bag_name") in the name of the Bag directory (or file if serialized). If absent,
# the bare value of the nid or uuid is used.
# bag_name_template: aip_%
bag_name_template: {{ getenv "BAGGER_DEFAULT_PER_BAG_NAME_TEMPLATE" }} 

# Both temp_dir and output_dir are required.
# specified in `config/services.yml`
# temp_dir: /tmp/islandora_bagger_temp
# specified in `config/services.yml`
# output_dir: /tmp

# Required. Whether or not to zip up the Bag. One of 'false', 'zip', or 'tgz'.
# serialize: zip
serialize: {{ getenv "BAGGER_DEFAULT_PER_BAG_SERIALIZE" }} 

# Required. Whether or not to log Bag creation. Set log output path in config/packages/{environment}/monolog.yaml.
# log_bag_creation: true
log_bag_creation: {{ getenv "BAGGER_DEFAULT_PER_BAG_LOG_BAG_CREATION" }} 

# Optional. Static bag-info.txt tags. No plugin needed. You can use any combination
# of tag name / value here, as long as ou seprate tags from values using a colon (:).
bag-info:
    Contact-Name: {{ getenv "BAGGER_DEFAULT_PER_BAG_CONTACT_NAME" }}
    Contact-Email: {{ getenv "BAGGER_DEFAULT_PER_BAG_CONTACT_EMAIL" }}
    Source-Organization: {{ getenv "BAGGER_DEFAULT_PER_BAG_SOURCE_ORGANIZATION" }} 
    Foo: Bar

# Optional. Whether or not to include the Payload-Oxum tag in bag-info.txt. Defaults to true.
# include_payload_oxum: false

# Optional. Which hash algorithm(s) to use.
# One of md5, sha1, sha224, sha256, sha384, sha512, sha3224, sha3256, sha3384, sha3512,
# or a list of values. Default is sha512.
# hash_algorithm: md5
# hash_algorithm: [md5, sha1, sha256]

# Optional. Timeout to use for Guzzle requests, in seconds. Default is 60.
# http_timeout: 120
http_timeout: {{ getenv "BAGGER_DEFAULT_PER_BAG_HTTP_TIMEOUT" }} 

# Optional. Whether or not to verify the Certificate Authority in Guzzle requests
# against websites that implement HTTPS. Used on Mac OSX if Islandora Bagger is
# interacting with websites running HTTPS. Default is true. Note that if you set
# verify_ca to false, you are bypassing HTTPS encryption between Islandora Bagger
# and the remote website. Use at your own risk.
# verify_ca: false

# Optional. Whether or not to delete the settings file upon successful creation
# of the Bag. Default is false.
# delete_settings_file: true
delete_settings_file: {{ getenv "BAGGER_DEFAULT_PER_BAG_DELETE_SETTINGS_FILE" }} 

# Optional. Whether or not to log the serialized Bag's location so Islandora can
# retrieve the Bag's download URL. Default is false.
# log_bag_location: true
log_bag_location: {{ getenv "BAGGER_DEFAULT_PER_BAG_LOG_BAG_LOCATION" }} 

############################
# Plugin-specific settings #
############################

# Required. Register plugins to populate bag-info.txt and the data directory.
# Plugins are executed in the order they are listed here.
plugins: ['AddBasicTags', 'AddMedia', 'AddNodeJson', 'AddNodeJsonld', 'AddMediaJson', 'AddMediaJsonld', 'AddFileFromTemplate', 'AddNodeCsv']

# Used by the 'AddMedia' plugin. These are the Drupal taxomony term IDs
# from the "Islandora Media Use" vocabulary. Use an emply list (e.g., [])
# to include all media.
# drupal_media_tags: ['/taxonomy/term/16']
drupal_media_tags: []

# Used by the 'AddMedia' plugin. Indicates whether the Bag should contain a file
# named 'media_use_summary.tsv' that lists all the media files plus the taxonomy
# name corresponding to the 'drupal_media_tags' list. Default is false.
include_media_use_list: true

# Used by the 'AddMedia' plugin. Include this option save media files with the
# specified subdirectories within the Bag's data directory. Include the trailing /.
# media_file_directories: 'foo/bar/baz/'
media_file_directories: 'media/'

# Used by the 'AddFileFromTemplate' plugin.
# template_path can be absolute or relative to the Islandora Bagger directory.
template_path: 'templates/mods.twig'
# template_output_filename will be assigned to the file generated from the template,
# which will be added to the Bag's data directory. You may include a subdirectory
# or subdirectories as part of the filename.
templated_output_filename: 'metadata/MODS.xml'

# Used by the 'AddNodeCsv' plugin.
# csv_output_filename will be assigned to the CSV file, which will be added to
# the Bag's data directory. You may include a subdirectory or subdirectories
# as part of the filename.
csv_output_filename: 'metadata.csv'


